.actions-container 
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.small-btns 
{
    width: 200px
}

.searchInput 
{
    max-width: 400px;
    margin: 8px 10px!important;
    caret-color: rgb(30,144,255);
    color: rgb(30,144,255);
}

.searchInput:hover
{
    background-color: rgb(211, 230, 251);
}

.searchInput:focus 
{
    outline: none;
    color: Black;
    background-color: rgb(211, 230, 251);
}

.resume-container
{
    width: 90%;
    display: none;
    margin-top: 25px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px #888888;
    border-radius: 0.25rem;
}

.resume-header 
{
    color: white;
    background-color: rgb(30,144,255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    border-radius: 0.25rem;
}

.header-center 
{
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
}

.candidate-image 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 15px;
}

.name 
{
    margin-left: 150px;
    font-weight: bold;
    font-size: 55px;
}

.position 
{
    font-weight: bold;
    bottom: 25px;
    margin-left: 170px;
    position: absolute;
    font-size: 30px;
}

.resume-body 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.basics 
{
    width: 15%;
    padding: 10px;
    margin: 20px;
    border: 1px solid rgb(30,144,255);
    border-radius: 3px;
    box-shadow: 0px 0px 10px 2px #888888;
}

.other-details 
{
    margin-left: 40px;
    width: 75%;
    padding: 10px 10px 10px 0px;
}

li
{
    padding: 5px 30px;
}


p, h3, h2, h1, h4 
{
    margin: 0px;
    padding: 0px;
}

h2 
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.work-ex 
{
    margin-top: 0px;
}

.basics 
{
    margin-right: 20px;
    text-align: right;
    background: rgb(211, 230, 251);
    height: fit-content;
}

.basics .titles 
{
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(30,144,255);
    border-radius: 3px;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.innerDetail 
{
    padding: 10px 0px 10px 40px
}

.other-details h2
{
    color: rgb(30,144,255);
}

.no-result 
{
    display: none;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 200px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px #888888;
}
.details-container 
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.no-result-image 
{
    width: 250px;
    height: 200px;
    padding-right: 40px;
}

.no-result-text 
{
    font-size: 30px;
}

.personal-info, .tech-skills, .hobbies 
{
    margin-bottom: 15px;
}

.hidden 
{
    visibility: hidden;
}

/*Full-width input fields */
input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #686464;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
  
/* Set a style for all buttons */
button 
{
    background-color:rgb(30,144,255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    transition: .5s;
    box-shadow: 0px 0px 10px 2px #888888;
}

button:hover {
    background: rgb(20, 93, 165);
    color: rgb(255, 255, 255);
}